
  <ion-spinner></ion-spinner>
  <ion-grid>

    <ion-row>
      <!-- start of row -->
      <ion-col size="3">
        <app-progress-circle [circumference]="85"></app-progress-circle>

        <div class="player-panel">
        </div>
      </ion-col>
      <ion-col size="9">
        <div class="player-panel">
          <h4>{{player.player.firstName}} </h4>
          <h4>{{player.player.lastName}} </h4>
        </div>
      </ion-col>
    </ion-row>
    <!-- end of row -->
    <ion-row>
      <ion-col size="12">
        <div class="player-panel">
          <ul>
            <li class="credentials">Age: {{player.player.age === null? "N/A" : player.player.age}}</li>
            <li>Height: {{player.player.height === null? "N/A" : player.player.height}}</li>
            <li>Weight: {{player.player.weight === null? "N/A" : player.player.weight}}</li>
            <li>From: {{player.player.college === null? "N/A" :player.player.college}}</li>
          </ul>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

