// set font family
@import '../../../global';
* {

  font-family: 'Permanent Marker', cursive;
  font-weight: 300;
  color: white;
  font-size: 8vw;
}

.player-panel {
  display: block;
  border: 1px solid red;
}


ion-grid {
  background-image: linear-gradient(to bottom right, $brand-teal, $brand-gray);
}

ul {
  li {
    font-size: $smallest-font;
    display: inline-block;
  }
}

#player-name {
  height: 100%;
  h4 {
    font-size: 32px;
    margin: 0 auto;
  }
}


@media screen and (min-width: $tablet-tiny-screen) and (max-width: $tablet-screen) {
  #player-name {
    h4 {
      font-size: 48px;
      margin: 0 auto;
    }
  }
}

@media screen and (min-width: $tablet-screen) {
  #player-name {
    h4 {
      font-size: 72px;
      margin: 0 auto;
    }
  }
}