// set font family
@import '../../../global';
*:not(ion-button) {

  font-family: 'Permanent Marker', cursive !important;
}

.player-panel {
  //display: block;
  //border: 1px solid red;
}

.title {
  u {
    text-decoration: none;
    border-bottom: 5px solid $brand-aqua;
  }
}

.heading {
  border-bottom: 1px $brand-aqua;
}


ul {
  li {
    font-size: $smallest-font;
    display: inline-block;
  }
}

#player-name {
  height: 100%;
  h4 {
    font-size: 32px;
    margin: 0 auto;
  }
}

.credential-panel {
  .truncate {
    font-size: inherit;
  }
}


@media screen and (max-width: $iphone-screen) {
  #player-name {
    ion-card-title {
      font-size: 24px;
    }
    ion-card-subtitle {
      font-size: 20px;
    }
  }

  .credential-panel {
    h3 {
      font-size: 12px !important;
    }
  }

  .credential-panel {
    .truncate {
      font-size: 9px !important;
    }
  }
}

@media screen and (max-width: $tablet-tiny-screen) and (min-width: $iphone-screen) {
  .credential-panel {
    h3 {
      font-size: 14px;
    }
  }
}


@media screen and (max-width: $iphone-small-screen) {
  #player-name {
    ion-card-title {
      font-size: 20px;
    }
    ion-card-subtitle {
      font-size: 16px;
    }
  }

  .credential-panel {
    h3 {
      font-size: 10px;
    }
  }
}

@media screen and (min-width: $tablet-tiny-screen) and (max-width: $tablet-screen) {
  #player-name {
    h4 {
      font-size: 48px;
      margin: 0 auto;
    }
  }
}

@media screen and (min-width: $tablet-screen) {
  #player-name {
    h4 {
      font-size: 72px;
      margin: 0 auto;
    }
  }
}

ion-buttons {
  order: 1
}

.heading {
  text-align: center;
}