<ion-card>
  <ion-item>
    <ion-card-header id="player-name">
      <ion-card-subtitle>{{player.player.firstName}}</ion-card-subtitle>
      <ion-card-title>{{player.player.lastName}}</ion-card-title>
    </ion-card-header>
    <ion-button fill="outline" slot="end" (click)="expand()">{{isExpandedText}}</ion-button>
  </ion-item>

  <ion-card-content>
    <ion-row>
      <!-- start of row -->
      <ion-col size="12">
        <div class="player-panel">
          <app-progress-circle [circumference]="85"></app-progress-circle>
        </div>
      </ion-col>

    </ion-row>
    <!-- end of row -->

    <ion-row>
      <!-- start of row -->
      <ion-col size="3">
        <div class="player-panel credential-panel">
          <h3 class="credentials">Number:<br/>{{player.player.jerseyNumber === null? "N/A" : player.player.jerseyNumber}}</h3>
        </div>
      </ion-col>
      <ion-col size="3">
        <div class="player-panel credential-panel">
          <h3>Team:<br/>{{player.team.abbreviation === null? "N/A" : player.team.abbreviation}}</h3>
        </div>
      </ion-col>
      <ion-col size="3">
        <div class="player-panel credential-panel">
          <h3>Plays:<br/>{{player.player.primaryPosition === null? "N/A" : player.player.primaryPosition}}</h3>
        </div>
      </ion-col>
      <ion-col size="3">
        <div class="player-panel credential-panel">
          <h3>Shoots:<br/>{{player.player.handedness.shoots === null? "N/A" :player.player.handedness.shoots}}</h3>
        </div>
      </ion-col>
      <!-- end of row -->
    </ion-row>

    <ion-row>
      <!-- start of row -->
      <ion-col size="3">
        <div class="player-panel credential-panel">
          <h3 class="credentials">Age:<br/>{{player.player.age === null? "N/A" : player.player.age}}</h3>
        </div>
      </ion-col>
      <ion-col size="3">
        <div class="player-panel credential-panel">
          <h3>Height:<br/>{{player.player.height === null? "N/A" : player.player.height}}</h3>
        </div>
      </ion-col>
      <ion-col size="3">
        <div class="player-panel credential-panel">
          <h3>Weight:<br/>{{player.player.weight === null? "N/A" : player.player.weight}}</h3>
        </div>
      </ion-col>
      <ion-col size="3">
        <div class="player-panel credential-panel">
          <h3>From:<br/>{{player.player.college === null? "N/A" :player.player.college}}</h3>
        </div>
      </ion-col>
      <!-- end of row -->
    </ion-row>


    <ion-row *ngIf="isExpanded" [@enterAnimation]>
      <ion-col size="6">
        <div class="player-panel credential-panel">
          <app-progress-circle [circumference]="85"></app-progress-circle>
        </div>
      </ion-col>
      <ion-col size="6">
        <h1>PPG:<br/>{{player.stats.offense.ptsPerGame === null? "N/A" :player.stats.offense.ptsPerGame}}</h1>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="isExpanded" [@enterAnimation]>
      <ion-col size="4">
        <div class="player-panel credential-panel">
          <h2>APG:<br/>{{player.stats.offense.astPerGame === null? "N/A" :player.stats.offense.astPerGame}}</h2>
        </div>
      </ion-col>
      <ion-col size="4">
        <h2>PTS:<br/>{{player.stats.offense.pts === null? "N/A" :player.stats.offense.pts}}</h2>
      </ion-col>
      <ion-col size="4">
        <div class="player-panel credential-panel">
          <h2>AST:<br/>{{player.stats.offense.ast === null? "N/A" :player.stats.offense.ast}}</h2>
        </div>
      </ion-col>
    </ion-row>

  </ion-card-content>
</ion-card>
