// set font family
@import '../../../global';
* {

  font-family: 'Permanent Marker', cursive;
  font-weight: 300;
  color: white;
  font-size: 8vw;
}

.player-panel {
  display: block;
  border: 1px solid red;
}


ion-grid {
  background: $brand-gray;
}

ul {
  li {
    font-size: $smallest-font;
    display: inline-block;
  }
}