// set font family
@import '../../../global';
*:not(ion-button) {

  font-family: 'Permanent Marker', cursive !important;
}


.light {
  background-color: white;
}

.dark {
  background-color: $brand-offset;
}