<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" routerLink="/dashboard">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Team Stats</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col size="12" *ngIf="teams === undefined">
        <ion-spinner></ion-spinner>
      </ion-col>
      <ion-col size="12">
        <div *ngIf="!serverError">
          <div *ngFor="let team of teams">
            <app-team-profile [team]="team"></app-team-profile>
          </div>
        </div>

        <div *ngIf="serverError ">
          <h1>{{serverError}}</h1>
        </div>


      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
