// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

/*
 * Colors
 */
$brand-gray: #393F4D;
$brand-charcoal: #1F2833;
$brand-teal: #66FCF1;
$brand-light-gray: #C5C6C7;
$brand-aqua: #45A29E;
$brand-white: #FFFFFF;

/*
 * Fonts
 */
$sports:'Permanent Marker', cursive;
$smallest-font: 16px;
$smaller-font: 24px;
$larger-font: 28px;


/*
 * Media
 */
$phone-size: 412px;
$mini-tablet-size: 768px;
$tablet-size: 1024px;
// iPhone
$iphone-small-screen: 320px;
$iphone-screen: 375px;
$iphone-large-screen: 414px;
// iPad
$ipad-screen: 768px;
$ipad-large-screen: 1024px;
// Android
$android-small-screen: 360px;
$android-screen: 412px;
$android-large-screen: 480px;
// general tablets
$tablet-tiny-screen: 600px;
$tablet-small-screen: 768px;
$tablet-screen: 800px;
$tablet-large-screen: 1280px;





/**
 * Media queries
 */
