<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col>
                <a routerLink="/player-stats">
                    <div id="panel-1" class="panel">
                        <h1>Player stats</h1>
                        <img src="../../../assets/img/dashboard/curry.jpg">
                        <p>Find individual player stats, including player information such as height, weight, handedness, and college, as well as
                        offensive, defensive, and rebounding statistics</p>
                    </div>
                </a>
            </ion-col>
            <ion-col>
                <div id="panel-2" class="panel">
                    <h1>Team stats</h1>
                    <img src="../../../assets/img/dashboard/westbrook.jpg">
                    <p>View team stats, including team rankings, offensive efficiencies, as well defensive rankings</p>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div id="panel-3" class="panel">
                    <h1>League Stats</h1>
                    <img src="../../../assets/img/dashboard/harden.jpg">
                    <p>See how players stack up against each other in the league stats settings, where metrics of each player are set out to see who
                    is the best</p>
                </div>
            </ion-col>
            <ion-col>
                <div id="panel-4" class="panel">
                    <h1>Search</h1>
                    <img src="../../../assets/img/dashboard/silver.jpg">
                    <p>Search any stat of any category of any team</p>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
